@model ProductVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <div class="row">
        <div class="col-10">
            <div class="p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary p-0">Editar produto</h2>
                    <br />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Name" class="p-0"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ScientificName" class="p-0"></label>
                    <input asp-for="Product.ScientificName" class="form-control" />
                    <span asp-validation-for="Product.ScientificName" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.COD" class="p-0"></label>
                    <input asp-for="Product.COD" class="form-control" />
                    <span asp-validation-for="Product.COD" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.CategoryId" class="p-0"></label>
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select p-1">
                        <option disabled selected> Selecione uma categoria</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Size" class="p-0"></label>
                    <input asp-for="Product.Size" class="form-control" />
                    <span asp-validation-for="Product.Size" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Price" class="p-0"></label>
                    <div class="input-group mb-3 p-0">
                        <span class="input-group-text">R$</span>
                        <input asp-for="Product.Price" class="form-control" />
                        <span class="input-group-text">,00</span>
                    </div>
                    <span asp-validation-for="Product.Price" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Description" class="p-0"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.AromaticDescription" class="p-0"></label>
                    <input asp-for="Product.AromaticDescription" class="form-control" />
                    <span asp-validation-for="Product.AromaticDescription" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Benefits" class="p-0"></label>
                    <textarea asp-for="Product.Benefits" class="form-control"></textarea>
                    <span asp-validation-for="Product.Benefits" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Ingredients" class="p-0"></label>
                    <input asp-for="Product.Ingredients" class="form-control" />
                    <span asp-validation-for="Product.Ingredients" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Uses" class="p-0"></label>
                    <textarea asp-for="Product.Uses" class="form-control"></textarea>
                    <span asp-validation-for="Product.Uses" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.HowToUse" class="p-0"></label>
                    <input asp-for="Product.HowToUse" class="form-control" />
                    <span asp-validation-for="Product.HowToUse" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Precautions" class="p-0"></label>
                    <textarea asp-for="Product.Precautions" class="form-control"></textarea>
                    <span asp-validation-for="Product.Precautions" class="text-danger p-0"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-6 col-md-6">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Voltar</a>
                    </div>
                    <div class="col-6 col-md-6">
                        <button type="submit" class="btn btn-success form-control">Atualizar</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-2 mt-5">
            <img src="@Model.Product.ImageUrl" width="100%" 
                style="solid #bbb9b9" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap link lists searchreplace table visualblocks wordcount checklist casechange formatpainter pageembed linkchecker a11ychecker permanentpen powerpaste advtable advcode advtemplate ai mentions tinycomments footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
