@model List<Product>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary p-0">
                Produtos
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-outline-success">
                <i class="bi bi-plus-square m-2"></i> Novo produto
            </a>
        </div>
    </div>
</div>

<br />
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Código</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th></th>
        </tr>
        <tbody>

        </tbody>
    </thead>

</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/js/product.js"></script>
}

